@import url(../css/reset.css);
@import url(../css/header.css);
@import url(../css/main.css);
@import url(../css/footer.css);

.corpo {
    width: 478px;
    height: 2792px;
    background-color: #FFFFFF;
}

@media screen and (min-width: 479px) {
    .corpo{
    width: 1480px;
    height: 2792px;
    background-color: #FFFFFF;
    }
}